@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #projects {
    flex-wrap: wrap;
    height: fit-content;
  }

  #projects-in-progress {
    height: fit-content;
  }
  .sec-profile-pic-container {
    height: 40rem;
    width: 40rem;
    padding-top: 4rem;
    justify-content: center;
  }
}

@media screen and (max-width: 1200px) {
  #projects {
    margin-bottom: 10rem;
    flex-wrap: wrap;
  }
  #desktop-nav {
    display: none;
  }
  #mobile-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .details-container {
    width: 100%;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
    margin-top: 2rem;
  }
  section {
    margin: 0 2%;
  }
  .sec-pic-container {
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .sec-profile-pic-container {
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
  }
  .about-containers {
    margin-top: 3rem;
  }
  .about-details-container {
    margin-top: 10rem;
  }
}

@media screen and (max-width: 600px) {
  section {
    width: auto;
  }
  .article-container {
    gap: 0.5rem;
    padding-top: 0.5rem;
  }
  .details-container {
    align-items: center;
    display: flex;
    justify-items: center;
    width: 100%;
  }
  .experience-details-container {
    display: flex;
  }
  #about {
    margin: 0;
    padding: 0;
  }
  .body {
    width: 100%;
  }

  #projects,
  #projects-in-progress {
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }

  #contact,
  footer {
    height: 40vh;
    margin: 0;
    padding: 0.125rem;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }

  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers {
    max-width: 10rem;
  }
  .contact-info-upper-container {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .navbar-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    padding-top: 1rem;
    font-size: 1.1rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .navbar-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .sec-pic-container {
    padding-top: 0rem;
    width: auto;
    height: 40vw;
    justify-content: center;
  }

  .sec-profile-pic-container {
    width: auto;
    height: 52vw;
    justify-content: center;
  }
  .sec-text-p2 {
    font-size: 1.25rem;
  }
  .sec-title {
    font-size: 2rem;
  }
  .icon {
    width: 3rem;
    height: 3rem;
  }
  .long-icon {
    width: auto;
    height: 3rem;
  }
  .text-container {
    text-align: justify;
  }

  .about-details-container {
    margin-top: 4rem;
    width: auto;
    align-items: center;
    padding: 1rem;
  }
  .color-container-1 {
    min-width: 17rem;
  }
  .color-container-2 {
    min-width: 17rem;
  }
  .courses {
    padding-left: 0;
    padding-right: 0;
  }
  .about-pic {
    height: 200px;
    width: 200px;
  }
  #courses {
    margin: 0rem;
    padding: 0.5rem;
    text-align: center;
    max-width: 90%;
  }
}
